Source: hmtsu
Section: user/system
Priority: optional
Maintainer: Lcferrum <lcferrum@yandex.com>
Build-Depends: debhelper (>= 5), applauncherd-dev, libqt4-dev
Standards-Version: 3.7.3
Homepage: https://github.com/lcferrum

Package: hmtsu
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: busybox (>= 1.20) | which, busybox-symlinks-procps (>= 1.20) | procps, dpkg
Description: HMTsu is a frontend to devel-su, sudo and ariadne.
 Inspired by gksu, it's primary purpose is to run graphical programs
 that need root without the need to run an terminal emulator and using
 mentioned tools directly.
XSBC-Maemo-Display-Name: HMTsu
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAACXBIWXMAAAsTAAALEwEAmpwYAAAR
 QElEQVR42u2b51eU19rGTz5l5VM+Jitn+S/k+znviQ1UYOgKKoKCDRsdpajYBXtJkJgTjVExEWGo
 gnSHrsDMMDOAFDu2qMRG1Jh4nfvaMMOAgBpNIq7Xta41sJ9n3/f1u3d59uDMP/7x///e/F9SzfUP
 wg+XfBSVWv7x8uOVn0T9UKGJPKaLi0g9nRx2pKxG1BB6uLRHBKtCDpcMkP013ss+7MsYjMWYKrbk
 YC7m/NvBt9be+HRb7Q2nbbXXIxNrrmesr7zWuaaiC6tOdyG2/CqiS68ipOgyQgovY1HBJQRblX8J
 c09eRGDeBSX+zDbrdd7LPuzLGIzFmIzNHMzFnMxND385ePSPVZ9HpZ5OCTtSagg+WPRkzn+LMHN/
 IXxTTsE7uQCeQ8jrNTVUDMZmDuZiTuamB3qhpz8dPLH62pik6mtaeX0aU3blefDJS5ifexHzcv4e
 MTc90As99Xkb89bBo46f+TD8iM5/2felPXOl8p57CuCxO19eR5bX3oK3opfl6fVSAHqjR3ql57cC
 v+H01c826roOrCq9gsV5FxGUdR5zs99N0Rs90is90/sbwS87UPbP0EOl+sB9hfCSKnvselGeuzjS
 RZi2rxx+RwwI+MHSp2YEpncgSHv+jcQYjGWNyxzMxZyeu4b2RK/0TO9k+EPwG8uufLa5/Io+PFd2
 6vTOUSl6JwNZXgs+8vvqD0MOlB6Y85Ws9e158NgxUJ4789UoBByzIDCtDUEc6b9BzE0P9EJPg33S
 OxnIQqZXX/dFl/3j5bk8L00SHR/dIgNZyPRq6z6leMyilMIeH458kmhLv7x3FsP/OyMCj7Uj6IeO
 d0r05P9dk/Jo75kMZCET2V5agLWnLmqjMmUDSm3H3GPvh8hCJrKNPPr7iz9fnJz/1D0xBx6Juf3a
 chIzvj6DOUfbECjB3mXRI73Ssz0DmchGxmELsCb3fEpkesfzOUck2NH3S2QiGxmHHv19RZ8G7zlp
 8NiUC9cN/fJIKoLfN2YEHGofVaJneh/AImxkJOsLBVid1eEUfaL9yexD8mh5T0U2MpJ1APzK4+0f
 LNpbEDkjKRuu63Jsct+YD7+vZfQPtI1K0bs9D0VGspLZVoC49PaP4k60Z8yTCs369v0WGclKZlsB
 5u/K/3jOtpxOj3XZcEnIUdKslefn7nr47T+HWd+0jVp5b6+2MVFkJCuZ7ZZA2ydRR89h9jcCu7/t
 teX39Tn4pbQOFNuGaf8jOd6WyEhWMtsKsHBHvsZvk4z+KqnS6l65JpzE9L1GzPq6bVj5pQjgvlbM
 TLZg7n4LolMleGobwo+0SVuzap/5lRnRR3uT8ppfSovqN1Lct6lpO87YmJSEkaxkthVgxdHWuCUH
 WzHjKxp/dc34shW+e8zw3dmIQ6UXcefBE1y704OWK93w2SlvW3c0YmNaM27fe4wb3T24efchglIs
 mP5li+Q6N3zcEa69qchIVjLbChCUlJvssyYLU+Ky4UTF58Bzc5XMgF6jQ2m6grdgqkBO31qJzq5u
 /P777/j111/RcuEmvJJq4bFRhxpLF3777Tel2933MHuvXvVj/8HxmM93b7O6zlf+Pvi+1xX9OVm5
 RGQkK5ltBVh+qLlmHkdmj3R6BU3fJUZ3NcubjCZ4bqrB9A1FePbsGZ4/f46nT5/iUIEJbmvK4BKf
 j1vdD1VheL347AX4JtXBZ4dJxRgck+3TtupR394N8QTf7UbV5rvToq5P3936Sv5G9C4iK5ltBZiz
 IavBM16LKTHZfeIMqIOvJJze14nypUkxM01MTd1mhFfiWbiuKUW0vB8nJPXkyRNMTciDs8AHJRXg
 waPHtsJsTj0D9w2V0teg4ljj85W/e29pUNd5P2O1dd3HnpwOhB2QYuxoknvM8JHC08dgb8OJuZzi
 8uzYskFWMtsKEHGwucef02/nuWHls70F07aZBboRRfpbyDtzDbm1V5BZ0Ym2S7dtprkETpSdg1bX
 jsZz1/BMpj6vcQbUmLuQI31O1t/Al3mXMW27zKIdrUpTt5rgsb4WzrEFKgaXjLWoP/38C8qbbmFH
 Zid8thrUvdO2WZQna/+RvA8WWclsK0DAmgy4LM/E5Khsm2hm2jZJsL1VvU7dIvCbGuTpoFNAb6oK
 8214JzXJlG9W8k40yrKpVLmvX7+O7u5u9PT0qGKwCOzzy5NnakPNqOrCvD1G6SPFkBj0puL0+bWX
 12Y9pkTnDmAjK5ltBQiXNw6zdkqAQZ2tUgWQRB7r6+AUU4DHjx+rqc5pbV371lFmG6/bG7fODPbh
 Naq44aoUtFGMW3oLIPHd11Yrsxv3F6Cu3ojOzvO4efMm7t+/r/owvjUmVdtyG7HfmRG4y4hpSUYp
 hGnYQthYRGQls60A/gnpcIrKhENENhypyGy4ra2VNSngW1vVq9fmJlnvNZgUlYtLly4pdXV1KXPW
 6cqfr169qq799NNPqhg0SvMEsfajtGUWuK9vkCVlFvhmeTXJ7/VwjiuFQ7gWXyw8hPAtJ5CWp8PZ
 RhMuX76M27dv48GDByrub31Li2q7eg/fFV5AzMFm+MnGPDWpNya9e2zUK8+OfWxkJCuZ+2dAilQv
 qXVYeSdKATY2wS2hVqZQPtalnMLK3ZlYsS0NXddvqZHhCBubO5GwR4vY7Wk4llOlRpyFudv9M1KO
 lSB+lxarv8zDuq9LEL6nSmZUI7w3W1R8783N8GSONXJwiTut8kwMSce44CPwj0/FppRcFJXXob29
 XRX+7t27aonYz0DuFQ1td5GSd0lml1nFHY6JzLYC+MWnY2KYVCi8X4S1BlDmNhhVm9OKYjiEZGDs
 gu/xr9nJ8mx/YNvlU45X4v+C9kv7Pnx1TKfgOVLXb93Ff+YdwPjFx+AYliUxSlQsAjO2KkBfEVho
 FobXXeJ1siROqT7jF6diytJDmJ+QirSccrS0tODKlSu2GWi/v9zsfqz8Mp7HepkBEbkD2MhK5v4/
 hsiR12ujPDI2tb4g740y+utleiY0YG9GGwq4i1ddQLauDTXGS/j1Wf8uX9l4HmlFZmTK9L55575q
 p7mf7z9Cekkz8qRfScM1uMbXwGONXuKaVfwB+TZIQTZY4LWuSd3jtkpmRIwUIvIUHJZqMXb+Yfw7
 YB/8og9CV2saUADreeOn7kfwEL+MMxQTWclsK8CMmDRMWCqV6ZPDsmxo4mSE1rfAc12zwBvERBV0
 husj7uz2G9RI7Zr4OoFrUrG9NrQOkDWnx1qzusdtdaPy4hRdjqlxRVicWIQfC5rQcekmHjx8pIAp
 LjfuD7du3UJL+0W4rmqQOBbpr5cZm2tjo8hK5v4ZsFseJxs40jINB8lLjLivrIdTZDEKqjrwyy+/
 KDGhfeW5BKzt1nVp3f2tfazSxNbAM0FmnYAOyMWCSD5ec18lyyBeRn9FJcJ2n8W32S3Qt97Eo56n
 A2JzH7hz547aJLksGhsbcSSrRnlmrBd4RGQls60AvtFpcFwqT4ElWX3KhmtMjQSQtZ8gx9r4ekwJ
 L8JhbTVaW1vR1tamNiLC0Ahfufuz/eLFi7h3757NIJ8GHR0dqp9VmhXV8FxtVPG917UoWXN5rNLD
 NVYORNE6JB1uQkPLLVlOj6TYv9uWFIvMHDwvcFM0Go2oq6vDnoMFmJ2QD+/4ChXHa408aVY2CluO
 HVuWYiWzrQCLt8sMWCNm1ra8IK8EmQFxMgMiSvHV94XQ6XSorq6WZ3SnAqchmjGZTKiorERTU5Ot
 AHz8EZ73nz59Won9XWNkea1uEoO9Ofmq8sQ3wiW6Et+fbMe9h08GLKHBo22xWFBfX4+y8gqs/1Le
 5srGPDkkHy5ROuXXc7XJFn+wyEpmWwF8ItJ6HBdqMWFhltLEhXJaipKNaqWsxZWyjmINcI6sguOS
 Aoybexz/nvlfbPmmRMFzul+TR+H08GP414z9cAs+oJYDTXNNxmw7ibGBP2D8/Aw4Ls6HU7gUYEW9
 wJpUfM9VLerVPc6ocjouyR+woVlH+8aNG2q0DQYDSssrcfREEaISe/1OWloIpzCd9K+V4jb2xbao
 2Px9YnCOjY0iq09kWv9ROHiLvsFnNde6mFk1UO5izk0CaiSQU2S1TKECTAo+jnrzFVUAzoLOC1cx
 VgrzxZxUpOboVTuLwIOLz/I8TFpWLEtIB2cB1Ai8W5yc+sRgfw6LTHuD3FOB8Qu0auY8fPhQLR8u
 KY722bNnkXWyDInJuQhaKYO0KBeTQkpkZlbJ0VbelMXIE0OK6B5vVp4Hc/TnklOisAZv1fe/GZoa
 eqJm8sIMGV153lLz5LQUVgO3GBmZ2Bb16rrCBJfIeql2OZwXZ6Hj/FUFyJHJKzVgwvxcjAvKQFl1
 i2rnbnxW3wrXsBI4h9dBEyVre7lRxXGLsai4VvF3TbQBk5fpZLakq5PiuXPnoNfr1fJJPVGIpWsz
 4S5PJ4fgAnUf/dGPJro/ptWvvVyiGsVbTi+XiIxkJbOtAAsS9ckzuNkN6jyUySkhldAsyVHrr6Gh
 QY1M7I5iOC4qVonKdLW2a8mHT8MlvEr1c1thfgF8qNgsfm1tLSoqKrD/cD58IjIxYUGeLJ8STAmt
 gnPE2b5iNtliDgU+LIeIrGS2FWBamDbOJViOnUFSpT5NnHcSmgg93Fe0KLktl1kQZYRTqJzQlpzC
 kbQiHEsvQlpmCaZGlWLy0go4Bhcj+bvCvvZihG6S0Q87A9dok+pvjTVY1tjOoXVSyBLs+rYQXqF5
 cFhYiMmLT8MpREY7XEY70tgXyzJiPHvR73g7LjKSlcy2Asxdp9f4rZI3O1Gy3oeRa6Ss0wiTmGwQ
 U5VwXFAChwXFmLRIDC6Vx1bIWUxZIhvlwrLe9uBy1e4SZpC+5mHj2sd2CdNLnxqJXyWxquG0TM4B
 oXIQCjeo64zDe0eK9TKRkazzNxv6/yjqHZL5icvCExg/JxPjZvdqfGC2gh1sVBPRpIwSWEnuoUFN
 uLG3PbR+QHuv8ZebthaBfVg0FVNyvSk0C2llUlzCSFYy2wowe6X+41lxhk5PJgpvHlGuYWI0TEyF
 mnrFn5WGbn9ZvBdjWwbEfJ3+ryIykpXMtgJo5v74keu8ExkTA9IxdpbWpgmBBXLAMNoZG12i93EB
 2QOYyEhWMvf/QWSF/oPZsY2RU2XKaZaZ32uRkaxkHvA/xO4L050mzznx5IsZGbBq7Ayp2Jxi2fWl
 MEvNo0r0TO/2PBQZyfrC5wP8Y42fzooxGNyWmUcd7KuKbGQk65CfEnGdn57i6J/+fPAsmBBwCk7B
 DaMGlF7pmd7tWchGxmE/IzQzxvj5jGjjU81Sy3s4AywgGxlH/KSYc2C61sE/Hf8ZtHbGz8rDlAVn
 3nlQeqRXe+9kIRPZXvo5Qb/NTWN8o5t63EPen9EnC5nI9kqfFnUOzPJ3lOfl4B3UOhMmzat8p/YE
 eqGnwSNvW/sBHP0s/1f+rLBPZNOHogOeYaN/9MlAFjK91ifGJ83WfuYYkKGf4JcxZFW5w7LifNY6
 LWqE82I5wy8x/QXPd5PKxZzMTQ+Dd3ur6J0MZPlD3xmQU9M/RXqP0NE38vRM72R4o2+NTPTP+swh
 IPPAhFkZw1a6f1ZkYuzMLKVxfjlwDCqXtVn1RmIMxrLGZY6RPci5RbzSM72/le8NeYWbP/QKM/l7
 hpl6emeD5Z18ztMbPdIrPb/1b485zM4ZM9Ffq5UKPx3vl/F87Agj8VeJHuiFnuiNHv/07w9KlT+X
 aqeIDB6hliduIfL2U87Zrn/B+whrHuZkbnrwjDCneEWY/vwvTr44I/I+neif7SSKnDArM2OCn7Zz
 /EwZkT6Nm6lVGjuTe8dgDR7NgdfH9vWl7GMyB3MxJ3PTw9/+HWIZhQ9EH4k+Fn0i0ojiRMmiGlGD
 SO0fr6ievj41fTHi+mJ+0peDuf7+L0+/D//+B3zmvfhRvs7iAAAAAElFTkSuQmCC
