[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=HMTsu
Comment=HMTsu is a gksu-like tool, frontend to devel-su, sudo and ariadne
Exec=/usr/bin/invoker --type=d -s /opt/hmtsu/bin/hmtsu
Icon=/usr/share/icons/hicolor/80x80/apps/hmtsu80.png
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
